.example-1 {
    margin-top: 40px;
}
.example-1 .text-content {
    text-align: center;
    margin-top: 40px;
}
.example-1 .button-one,
.button-two,
.button-three,
.button-four,
.button-five {
    margin-top: 20px;
}
.example-1 .button-sp-area {
    margin: 0 auto;
    margin-top: 60px;
    width: 60%;
}